{% extends 'base.html' %}

{% block title %}Login - School MGT{% endblock %}

{% block content %}
  <div class="mb-3">
    <a href="{% url 'login_select' %}" class="btn btn-outline-primary">Home</a>
  </div>
  <h2>Sign in</h2>
  <p class="muted">Enter your credentials to access the system.</p>

  <form method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <div style="margin-top:12px"><button class="btn" type="submit">Login</button></div>
  </form>

{% endblock %}
