{% extends 'base.html' %}

{% block title %}Login - School MGT{% endblock %}

{% block content %}
  <h2>Sign in</h2>
  <p class="muted">Enter your credentials to access the system.</p>

  <form method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <div style="margin-top:12px"><button class="btn" type="submit">Login</button></div>
  </form>

{% endblock %}